.fotoZone {
    display: grid;
    gap: 8px;
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 0px 20px;
    img {
        transition-duration: 1500ms;
        cursor: pointer;
            max-width: 630px;
         
        }
        picture{
            transition-duration: 2000ms;
            :hover {
                filter: brightness(70%);
                }
        }
        img{
        transition-duration: 1500ms;
        }
     
        margin-bottom: 40px;
}

   .h2 {
       display: block;
       width: 0px;
       height: 1px;
       opacity: 0;
   }